@font-face {
    font-family: "Free Sans";
    src: url(../fonts/FreeSans.woff) format('woff');
}

@font-face {
    font-family: "Free Sans";
    src: url(../fonts/FreeSansBold.woff) format('woff');
    font-weight: bold;
}
/*
.bLogin {
    background-color: mediumseagreen;
}
*/
body {
    /*
    background-image: url(../img/favicon.ico);
    background-size: 50px;
    background-repeat: repeat;
    background-position: 25px;
    */
}

header {
    text-align: center;
}

header>h1 {
    margin-bottom: 3%;
}

#goCursadas, #goMaterias, #goCursadaUser, #goPerfil, #close_ses_user {
    margin: 2% auto;
}

#agregar_tabla, #add_cursada, #cargar_tabla_add_user {
    margin-bottom: 2%;
}

tr>#th__show {
    background-color: mediumseagreen;
}

tr>#td__show, tr.odd>#td__show /* Impares */, tr.even>#td__show /* Pares */ {
    background-color: lightskyblue;
}

.thead_addmat {
    background-color: #6dcbf0;
}

tr>#td__addmat {
    background-color: #9ccaff;
}

.thead_modmat {
    background-color: darkgreen;
    color: white;
}

tr>#td__modmat {
    background-color: darkblue;
}

thead>tr>th, tfoot>tr>th, tbody>tr>td {
    text-align: center;
}
/*
#txtHintMat, #txtHintCur {
    text-align: center;
}
*/

/*
#close_ses_user {
    margin-bottom: 3%;
}
*/

.thead_admin_list_cur>tr, .tfoot_admin_list_cur>tr {
    background-color: darkgreen;
    color: white;
}

.tbody_admin_list_cur>tr>td {
    background-color: lightblue;
}

.thead_admin_mod_cur>tr {
    background-color: orange;
}

.tbody_admin_mod_cur>tr>td {
    background-color: mediumaquamarine;
}

.thead_admin_add_cur>tr {
    background-color: darkblue;
    color: white;
}

.tbody_admin_add_cur>tr>td {
    background-color: mediumseagreen;
}

.thead_user>tr, .tfoot_user>tr {
    background-color: darkgreen;
    color: white;
}

.tbody_user>tr>td {
    background-color: mediumseagreen;
}

.thead_user_list>tr, .tfoot_user_list>tr {
    background-color: lightseagreen;
    color: white;
}

.tbody_user_list>tr>td {
    background-color: mediumturquoise;
}

.thead_user_add>tr {
    background-color: darkgreen;
    color: lightblue;
}

.tbody_user_add>tr>td {
    background-color: lightblue;
}

.thead_user_modify>tr {
    background-color: yellowgreen;
    color: slategray;
}

.tbody_user_modify>tr>td {
    background-color: brown;
}

/*
#h1_user, #h1_login {
    color: darkgreen;
}

#h2_user {
    color: mediumseagreen;
    margin-bottom: 3%;
}
*/

#volver_a_materia, #volver_a_cursadas, #volver_a_usuarios {
    display: block;
    width: 100%;
    margin: 3% auto;
}

section#datos_usuario, article#datos_usuario_identidad, article#datos_usuario_materias {
    margin: 0 auto;
    text-align: center;
}

section#datos_usuario>h1 {
    color: mediumaquamarine;
    font-weight: bold;
}

#mail, #mensaje {
    width: 100%;
    margin: 2% auto 0 auto;
}

#enviar_mensaje, #enviar_mail {
    margin: 1% auto 2% auto;
    text-align: center;
    display: block;
}

body#bLogin {
    background-color: mediumseagreen;
}

legend#legend_login {
    text-align: center;
}

div#grupo_login_usuario>input#usuario, div#grupo_login_password>input#contrasena {
    background-color: #dfefdf;
    border-radius: 2%;
}

form.ingresoSis {
    background: #fafffa;
    padding-top: 2%;
    padding-bottom: 20%;
    margin: 0 auto;
    border-radius: 2%;
}

article#datos_usuario_identidad>h2, article#datos_usuario_materias>h2 {
    color: mediumseagreen;
}

@media (min-width: 750px) {
    
    body {
        background: white;
    }
    
    #volver_a_materia, #volver_a_cursadas, #volver_a_usuarios {
        display: block;
        width: 20%;
        margin: 3% auto;
    }
    
    #mail, #mensaje {
        width: 25%;
        margin: 2% auto;
    }
    /*
    form.ingresoSis {
        background-color: white;
        margin: 0 auto;
        border-radius: 4px;
    }
    */
    
    
    
}